<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496618782483-pufrvojjm6nvnarmlklmjmeroof3v83s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496618782483-pufrvojjm6nvnarmlklmjmeroof3v83s</string>
	<key>API_KEY</key>
	<string>AIzaSyBXUTwx8pqb0fS3reQ9GA30oyoA6e0_5Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>496618782483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.izi.vaoraio.check-in</string>
	<key>PROJECT_ID</key>
	<string>vaoraio</string>
	<key>STORAGE_BUCKET</key>
	<string>vaoraio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496618782483:ios:7ee090adff8e04125664e6</string>
</dict>
</plist>